<h4 class="mt-5">Agregar tarea</h4>

<form class="row mb-5" (ngSubmit)="emitTask()">

  <div>
    <label for="description">Descripción</label>
    <input type="text" name="description"
      placeholder="Ingresa la descripcion de la tarea"
      class="form-control mb-2"
      [(ngModel)]="task.description">
  </div>

  <div class="mt-2">
    <label for="priority">Prioridad</label>
    <input type="number" name="priority"
      placeholder="Ingrese el numero de prioridad"
      class="form-control mb-2"
      [(ngModel)]="task.priority">
  </div>

  <div class="mt-4">
    <button type="submit" class="btn btn-success extend-btn">
      Crear tarea
    </button>
  </div>

</form>

<!--* Lo siguiente es para ver lo que se esta ingresando en los input y como funciona el ngModel
<!--* aplicando el concepto de two way data binding.. -->
<pre> {{task | json}} </pre>

<!--* El caracter | es un 'pipe', se concoe como caracter de tuberia, un pipe lo que hace es transformar
<!--* lo que se va a mostrar por pantalla, pero sin modificar el valor de la variable/objeto original.
<!--* En este caso lo que hace, es mostrarlo en forma JSON -->
